body {
    font-family: "Arial"
}

h1 {
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #424242, #474747);
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; 
}